<h3>Restaurant Signup</h3>

@using PESUEatsBlazorServer.JSONBodyFormats.signup

@inject PESUEatsBlazorServer.Services.PESUEatsWebAPIService PESUEatsWebAPI
@inject IDialogService DialogService
@inject NavigationManager navMan

<MudForm>
    <MudTextField T="string" @bind-Value="Name" Required="false"
        HelperText="Enter your Name" Label="Name" Variant="Variant.Text" Immediate="true" />
    <MudTextField T="string" Counter="EmailMaxCharLimit" @bind-Value="Email" Required="true"
        HelperText="Enter your user ID" Label="Email" Variant="Variant.Text" Immediate="true"
        Validation="@(new Func<string, IEnumerable<string>>(UsernameMaxCharCheck))" />
    <MudTextField @bind-Value="Password" Label="Password" Variant="Variant.Text" 
        InputType="@PasswordInput" Adornment="Adornment.End" Required="true"
        AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="passwordViewToggle" />
    <MudTextField @bind-Value="PasswordConfirm" Label="Confirm Password" Variant="Variant.Text" 
        InputType="@PasswordInput" Adornment="Adornment.End" Required="true"
        AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="passwordViewToggle" />
    <MudTextField T="string" @bind-Value="Phone" Required="true"
        HelperText="Enter your user ID" Label="Phone" Variant="Variant.Text" Immediate="true"/>
    <MudTextField T="string" @bind-Value="Address" Required="false"
        HelperText="Enter your user ID" Label="Address" Variant="Variant.Text" Immediate="true" />
</MudForm>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="TrySingup"
    EndIcon="@Icons.Material.Filled.PlusOne">Signup</MudButton>

@code {
    public string? Name { get; set;}
    public string Email { get; set;} = "test@email.com";
    public string? Address { get; set;}
    public string Phone { get; set;} = "1111111111";
    public string Password { get; set;} = "";
    public string PasswordConfirm { get; set;} = "";

    const int EmailMaxCharLimit = 256;

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    private async void TrySingup()
    {
        if (Password != PasswordConfirm)
        {
            await DialogService.ShowMessageBox(
                "Warning", 
                "The passwords don't match!",
                cancelText:"close"
            );
            StateHasChanged();
        }
        else
        {
            CustomerJSONRequest customer = new(Name, Email, Password, Phone, Address);

            (bool, string) result = await PESUEatsWebAPI.SignupCustomerAsync(customer);
            bool isSuccess = result.Item1;
            string message = result.Item2;

            if (!isSuccess)
            {
                await DialogService.ShowMessageBox(
                    "Warning",
                    message,
                    cancelText:"close"
                );
                StateHasChanged();
            }
            else
            {
                await DialogService.ShowMessageBox(
                "Success",
                message,
                yesText: "close");
                StateHasChanged();
                navMan.NavigateTo("/signin", false);
            }
        }
    }

    void passwordViewToggle()
    {
        if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private IEnumerable<string> UsernameMaxCharCheck(string ch)
    {
        if (!string.IsNullOrEmpty(ch) && ch?.Length > EmailMaxCharLimit)
            yield return "Max 25 characters";
    }
}
